# My personal training data
data/

# Checkpoints
LSTM/checkpoints/
RNN/checkpoints/
LSTM/checkpoints2/
RNN/checkpoints2/
Transformer/checkpoints/

LSTM/model.pt
RNN/model.pt
Transformer/model.pt

# Results Notes
Results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Test & coverage tools
.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
.cache/

# Build directories
build/
dist/
*.egg-info/

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/

# PyInstaller
*.spec*